<div class="main-container">
  <div class="flex-container">
    <div class="card col-5">
      <div class="card-body text-center">
        <div class="mb-3">
          <h1>FAVORITE LINKS</h1>
        </div>
        <div class="mb-3">
          <em>Store your favorite Links</em>
        </div>
        <div class="d-grid justify-content-center">
          <a href="/signin" class="nav-link btn btn-success text-white"><h5
            >Let's get Started</h5></a>
        </div>
      </div>
    </div>
  </div>
</div>